.post {
  width: 100%;
  word-break: break-word;
  hyphens: auto;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

.post video {
  width: 100%;
}

.byline {
  font-size: 0.8em;
}

.text {
  text-align: justify;
}
