:root {
  --background-color: white;
  --text-color: rgb(41, 41, 41);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.063px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
